service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{messageId} {
      allow read;
      allow create: if request.auth.uid != null;
      allow update, delete: if request.auth.uid == resource.data.userId;
    }

     match /rooms/{roomId} {
    	allow read;
      allow write;
    }
  }
}